version: '3.0'

services:
  nginx:
    build:
      context: ./docker/nginx
    volumes:
      - ./:/site
      - ./logs:/var/log/nginx
      - /etc/letsencrypt:/etc/letsencrypt
    container_name: lock-screen-nginx
    ports:
      - "80:80"
      - "443:443"